* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Monument";
  src: url("/MonumentExtended-Regular.otf") format("opentype");
}

body {
  background: #1a1a1a;
  font-family: "Monument";
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200vh;
  flex-direction: column;
}

.heading {
  margin-top: 100px;
  color: #fff;
  font-size: 50px;
  margin-bottom: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 100px 0;
}

.section h1 {
  color: #fff;
  font-weight: lighter;
  font-size: 30px;
  margin-bottom: 50px;
}

.section .box {
  width: 400px;
  height: 400px;
  background: #fff;
}

.section .box1 {
  background: url("images/img-5.jpg") no-repeat 50% 50%;
}

.section .box2 {
  background: url("images/img-6.jpg") no-repeat 50% 50%;
}

.section .box3 {
  background: url("images/img-7.jpg") no-repeat 50% 50%;
}

.section .box4 {
  background: url("images/img-8.jpg") no-repeat 50% 50%;
}

.section .box5 {
  background: url("images/img-3.jpg") no-repeat 50% 50%;
}

.section .box6 {
  background: url("images/img-4.jpg") no-repeat 50% 50%;
}
