@font-face {
  font-family: "Monument";
  src: url("../MonumentExtended-Regular.otf") format("opentype");
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Monument";
  overflow: hidden;
}

.header {
  height: 100vh;
  width: 100%;
  background: #c9c9c9;
}

.header__nav {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 30;
}

.header__logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  color: #000;
}

.header__menu .btn {
  background: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #000;
  font-family: inherit;
  letter-spacing: 1px;
  cursor: pointer;
}

.header__menu .btn--close {
  display: none;
}

.overlays {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

.overlay {
  height: 100%;
  width: 100%;
  background: #161616;
}

.overlay-1,
.overlay-2,
.overlay-3,
.overlay-4 {
  height: 0%;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
}

.menu .attr, .menu .dev {
  position: absolute;
  bottom: 30px;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}

.menu .attr span, .menu .dev span {
  text-decoration: .5px underline;
}

.menu .attr {
  left: 20px;
}

.menu .dev {
  right: 30px;
}

.menu__inner {
  max-width: 500px;
  margin: auto;
  position: relative;
}

.menu p {
  position: relative;
}

.menu p::before {
  position: absolute;
  top: -20px;
  left: -20px;
  height: 25px;
  width: 25px;
  font-size: 22px;
  font-family: 'Great Vibes', cursive;
  color: #fff;
}

.menu .p1::before {
  content: '01';
}

.menu .p2::before {
  content: '02';
}

.menu .p3::before {
  content: '03';
}

.menu .p4::before {
  content: '04';
}

.menu__box {
  margin-bottom: 6vh;
}

.menu__box:last-child {
  margin-bottom: 0;
}

.menu a {
  text-decoration: none;
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
}

.cursor {
  position: absolute;
  background-size: cover;
  width: 450px;
  height: 300px;
  z-index: -1;
  user-select: none;
  pointer-events: none;
  transform: translate(5px, 5px);
}

.cursor-follow1 {
  background: url("images/img1.png") no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
}

.cursor-follow2 {
  background: url("images/img2.png") no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
}

.cursor-follow3 {
  background: url("images/img3.png") no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
}

.cursor-follow4 {
  background: url("images/img4.png") no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
}

.menu__box--1:hover ~ .cursor-follow1 {
  opacity: 1;
}

.menu__box--2:hover ~ .cursor-follow2 {
  opacity: 1;
}

.menu__box--3:hover ~ .cursor-follow3 {
  opacity: 1;
}

.menu__box--4:hover ~ .cursor-follow4 {
  opacity: 1;
}
