@font-face {
  font-family: "Graphik Regular";
  src: url("textfonts/Graphik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Graphik Medium";
  src: url("textfonts/Graphik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Canela Thin";
  src: url("textfonts/Canela-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Canela ThinItalic";
  src: url("textfonts/Canela-ThinItalic.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Graphik Regular";
  font-size: 1.5rem;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.preloader,
.header {
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 132rem;
  padding: 0 2rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.preloader {
  transform: translateY(-100vh);
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.preloader p {
  font-size: 2.5rem;
  margin-bottom: .1rem;
}

.preloader span {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header {
  background-image: url("images/bg.jpg");
  background-size: cover;
  transform: translateY(-100vh);
}

.header * {
  color: #543c10;
}

.header .nav--shop::after, .header .nav--menu::after, .header .nav-overlay__left .nav--menu::after, .header .nav-overlay__right .support__links a::after, .header .nav-overlay__right .support .developer span::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #1c1c1d;
  transform: scale(0);
  transform-origin: center;
  transition: transform .3s ease-in-out;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
}

.header .nav svg {
  height: 20px;
  width: 20px;
}

.header .nav--link {
  display: flex;
  align-items: center;
}

.header .nav--bag {
  width: 4rem;
  height: 4rem;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}

.header .nav--shop {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.3px;
  padding-bottom: 2px;
  position: relative;
}

.header .nav--shop::after {
  background-color: #543c10;
  bottom: 0;
}

.header .nav--shop:hover::after {
  transform: scale(1);
}

.header .nav--logo {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 3px;
  position: relative;
  border-top: 1px solid #543c10;
  padding-top: 5px;
  text-transform: uppercase;
}

.header .nav--logo::before, .header .nav--logo::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.5rem;
  width: 100%;
  height: 1px;
  background-color: #543c10;
}

.header .nav--logo::after {
  bottom: -.8rem;
}

.header .nav--menu {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding-bottom: 2px;
  position: relative;
}

.header .nav--menu::after {
  background-color: #543c10;
  bottom: 0;
}

.header .nav--menu:hover::after {
  transform: scale(1);
}

.header .nav-overlay__left, .header .nav-overlay__right {
  position: absolute;
  top: 0;
  z-index: 10;
}

.header .nav-overlay__left {
  width: 58%;
  height: 100vh;
  left: 0;
  background-image: url("images/img1.jpg");
  background-size: cover;
  padding: 5rem;
  transition: background-image .5s ease-in-out;
}

.header .nav-overlay__left.active {
  background-image: url("images/img2.jpg");
}

.header .nav-overlay__left .nav--menu {
  color: #fff;
}

.header .nav-overlay__left .nav--menu::after {
  background-color: #fff;
  bottom: 0;
}

.header .nav-overlay__left .img-box {
  height: 42rem;
  width: 28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .nav-overlay__left .img-box .img {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.header .nav-overlay__left .img-box .img-1 {
  background-image: url("images/img1a.jpg");
  z-index: 5;
  opacity: 1;
}

.header .nav-overlay__left .img-box .img-2 {
  background-image: url("images/img2a.jpg");
  transition: all .5s ease-in-out;
}

.header .nav-overlay__left .img-box .img-2.active {
  opacity: 1;
  z-index: 10;
}

.header .nav-overlay__left .img-box .img-3 {
  background-image: url("images/img3a.jpg");
}

.header .nav-overlay__left .img-box .img-3.active {
  opacity: 1;
  z-index: 10;
}

.header .nav-overlay__left .img-box .img-4 {
  background-image: url("images/img4a.jpg");
}

.header .nav-overlay__left .img-box .img-4.active {
  opacity: 1;
  z-index: 10;
}

.header .nav-overlay__left .img-box .img-5 {
  background-image: url("images/img5a.jpg");
}

.header .nav-overlay__left .img-box .img-5.active {
  opacity: 1;
  z-index: 10;
}

.header .nav-overlay__right {
  width: 42%;
  height: 100vh;
  right: 0;
  background-color: #fff;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header .nav-overlay__right .menu-links,
.header .nav-overlay__right .support {
  width: 250px;
}

.header .nav-overlay__right .menu-links > span,
.header .nav-overlay__right .support > span {
  color: #ceb286;
  text-transform: uppercase;
  letter-spacing: .6px;
  font-size: 1rem;
  display: block;
  margin-bottom: 2.3rem;
}

.header .nav-overlay__right .menu-links ul,
.header .nav-overlay__right .support ul {
  padding: 0 4rem;
}

.header .nav-overlay__right .menu-links li {
  margin-bottom: 2.8rem;
}

.header .nav-overlay__right .menu-links a {
  display: block;
  font-family: "Canela Thin";
  color: #1c1c1d;
  font-size: 4.2rem;
}

.header .nav-overlay__right .menu-links a:hover {
  font-family: "Canela ThinItalic";
  color: #8e6e35;
}

.header .nav-overlay__right .support {
  margin-top: 1rem;
}

.header .nav-overlay__right .support__links li {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

.header .nav-overlay__right .support__links a {
  color: #1c1c1d;
  font-weight: 500;
  font-family: "Graphik Medium",sans-serif;
  position: relative;
  transition: color .3s ease-in-out;
}

.header .nav-overlay__right .support__links a:hover {
  color: #543c10;
}

.header .nav-overlay__right .support__links a:hover::after {
  transform: scale(1);
}

.header .nav-overlay__right .support__social {
  display: flex;
  margin-top: 3rem;
}

.header .nav-overlay__right .support__social li:not(:last-child) {
  margin-right: 1.5rem;
}

.header .nav-overlay__right .support__social a {
  color: #1c1c1d;
  font-family: "Graphik Medium",sans-serif;
  transition: color .3s ease-in-out;
}

.header .nav-overlay__right .support__social a:hover {
  color: #543c10;
}

.header .nav-overlay__right .support .developer {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  text-transform: uppercase;
  font-size: .94rem;
  color: #1c1c1d;
  opacity: .5;
  font-family: "Graphik Medium", sans-serif;
}

.header .nav-overlay__right .support .developer span {
  position: relative;
}

.header .nav-overlay__right .support .developer span:hover::after {
  transform: scale(1);
}

.header .hero {
  display: flex;
  justify-content: center;
}

.header .hero__heading {
  font-family: "Canela Thin";
  color: #fff;
  font-size: 14rem;
  margin-top: 13rem;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 3.2s both;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
