@font-face {
    font-family: "Graphik Regular";
    src: url("Graphik-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Graphik Medium";
    src: url("Graphik-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Canela Thin";
    src: url("Canela-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Canela ThinItalic";
    src: url("Canela-ThinItalic.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Graphik Regular";
    font-size: 1.5rem;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

// COLORS
$color-1: #8e6e35;
$color-2: #1c1c1d;
$color-3: #efe9d0;
$color-4: #ecdabc;
$color-5: #ceb286;
$color-6: #543c10;
$color-7: #fff;

.preloader,
.header {
    height: 100vh;
    width: 100%;
}


.container {
    max-width: 132rem;
    padding: 0 2rem;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.preloader {
    transform: translateY(-100vh);
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;

    p {
        font-size: 2.5rem;
        margin-bottom: .1rem;
    }

    span {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}


.header {
    background-image: url('bg.jpg');
    background-size: cover;
    transform: translateY(-100vh);

    * {
        color: $color-6;
    }

    %line {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $color-2;
        transform: scale(0);
        transform-origin: center;
        transition: transform .3s ease-in-out;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 12rem;

        svg {
            height: 20px;
            width: 20px;
        }

        &--link {
            display: flex;
            align-items: center;
        }

        &--bag {
            width: 4rem;
            height: 4rem;
            background-color: #000;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1.5rem;
        }

        &--shop {
            display: inline-block;
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2.3px;
            padding-bottom: 2px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: $color-6;
                transform: scale(0);
                transform-origin: center;
                transition: transform .3s ease-in-out;
            }

            &:hover::after {
                transform: scale(1);
            }
        }

        &--logo {
            font-size: 1.1rem;
            font-weight: 600;
            letter-spacing: 3px;
            position: relative;
            border-top: 1px solid $color-6;
            padding-top: 5px;
            text-transform: uppercase;

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -.5rem;
                width: 100%;
                height: 1px;
                background-color: $color-6;
            }

            &::after {
                bottom: -.8rem;
            }
        }

        &--menu {
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            display: inline-block;
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            padding-bottom: 2px;
            position: relative;

            &::after {
                @extend %line;
                background-color: $color-6;
                bottom: 0;
            }

            &:hover::after {
                transform: scale(1);
            }
        }
    }

    .nav-overlay {
        &__left,
        &__right {
            position: absolute;
            top: 0;
            z-index: 10;
        }

        &__left {
            width: 58%;
            height: 100vh;
            left: 0;
            background-image: url('img1.jpg');
            background-size: cover;
            padding: 5rem;
            transition: background-image .5s ease-in-out;

            &.active {
                background-image: url('img2.jpg');
            }

            .nav--menu {
                color: $color-7;

                &::after {
                    @extend %line;
                    background-color: $color-7;
                    bottom: 0;
                }
            }

            .img-box {
                height: 42rem;
                width: 28rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .img {
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: all .5s ease-in-out;
                }

                .img-1 {
                    background-image: url('img1a.jpg');
                    z-index: 5;
                    opacity: 1;
                }

                .img-2 {
                    background-image: url('img2a.jpg');
                    transition: all .5s ease-in-out;

                    &.active {
                        opacity: 1;
                        z-index: 10;
                    }
                }

                .img-3 {
                    background-image: url('img3a.jpg');

                    &.active {
                        opacity: 1;
                        z-index: 10;
                    }
                }

                .img-4 {
                    background-image: url('img4a.jpg');

                    &.active {
                        opacity: 1;
                        z-index: 10;
                    }
                }

                .img-5 {
                    background-image: url('img5a.jpg');

                    &.active {
                        opacity: 1;
                        z-index: 10;
                    }
                }
            }  
        }

        &__right {
            width: 42%;
            height: 100vh;
            // transform: translateX(100%);
            right: 0;
            background-color: $color-7;
            padding-top: 5rem;
            display: flex;
            align-items: center;
            flex-direction: column;

            .menu-links,
            .support {
                width: 250px;

                > span {
                    color: $color-5;
                    text-transform: uppercase;
                    letter-spacing: .6px;
                    font-size: 1rem;
                    display: block;
                    margin-bottom: 2.3rem;
                }

                ul {
                    padding: 0 4rem;
                }
            }

            .menu-links {
                li {
                    margin-bottom: 2.8rem;
                }

                a {
                    display: block;
                    font-family: "Canela Thin";
                    color: $color-2;
                    font-size: 4.2rem;
                    
                    &:hover {
                        font-family: "Canela ThinItalic";
                        color: $color-1;
                    }
                }
            }

            .support {
                margin-top: 1rem;

                &__links {
                    li {
                        margin-bottom: 1.5rem;
                        font-size: 1.4rem;
                    }

                    a {
                        color: $color-2;
                        font-weight: 500;
                        font-family: "Graphik Medium",sans-serif;
                        position: relative;
                        transition: color .3s ease-in-out;
    
                        &::after {
                            @extend %line;
                        }
    
                        &:hover {
                            color: $color-6;
                        }
            
                        &:hover::after {
                            transform: scale(1);
                        }
                    }
                }

                &__social {
                    display: flex;
                    margin-top: 3rem;

                    li:not(:last-child) {
                        margin-right: 1.5rem;
                    }

                    a {
                        color: $color-2;
                        font-family: "Graphik Medium",sans-serif;
                        transition: color .3s ease-in-out;

                        &:hover {
                            color: $color-6;
                        }
                    }
                }

                .developer {
                    position: absolute;
                    right: 3rem;
                    bottom: 3rem;
                    text-transform: uppercase;
                    font-size: .94rem;
                    color: $color-2;
                    opacity: .5;
                    font-family: "Graphik Medium", sans-serif;

                    span {
                        position: relative;

                        &::after {
                            @extend %line;
                        }
            
                        &:hover::after {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }

    .hero {
        display: flex;
        justify-content: center;

        &__heading {
            font-family: "Canela Thin";
            color: #fff;
            font-size: 14rem;
            margin-top: 13rem;
            opacity: 0;
            animation: fadeIn 1s ease-in-out 3.2s both;
        }

        @keyframes fadeIn {
            from {
                transform: translateY(30px);
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}